body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #5f9341;
    margin-bottom: 4px;
}

button {
  padding: 17px 10px;
  border-radius: 0px;
  cursor: pointer;
  border: 0;
  background-color: rgb(10, 195, 158);
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 15px;
  transition: all 0.5s ease;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

button:hover {
  letter-spacing: 3px;
  background-color: hsl(261deg 80% 48%);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
}

button:active {
  letter-spacing: 3px;
  background-color: hsl(261deg 80% 48%);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
  transform: translateY(10px);
  transition: 100ms;
}

#delete-btn {
    width: 150px;
    height: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    background: red;
    border: none;
    border-radius: 50px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
    background: #e62222;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

   #delete-btn, button span {
    transition: 200ms;
    -webkit-transition: 200ms;
    -moz-transition: 200ms;
    -ms-transition: 200ms;
    -o-transition: 200ms;
    }

   #delete-btn .text {
    transform: translateX(1px);
    color: white;
    font-weight: bold;
    -webkit-transform: translateX(1px);
    -moz-transform: translateX(1px);
    -ms-transform: translateX(1px);
    -o-transform: translateX(1px);
}

   #delete-btn .icon {
    position: absolute;
    border-left: 1px solid #c41b1b;
    transform: translateX(100px);
    height: 20px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -o-transform: translateX(100px);
}

   #delete-btn svg {
    width: 12px;
    fill: #eee;
   }

   #delete-btn:hover {
    background: #ff3636;
   }

   #delete-btn:hover .text {
    color: transparent;
   }

   #delete-btn:hover .icon {
    width: 130px;
    border-left: none;
    transform: translateX(0);
   }

   #delete-btn:focus {
    outline: none;
   }
   
   #delete-btn:active .icon svg {
    transform: scale(0.7);
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    -o-transform: scale(0.7);
}

ul {
    margin-top: 20px;
    list-style: none;
    padding-left: 0;
}

li {
    margin-top: 5px;
}

a {
    color: #644193;
}


